# The releng team is by default the owner of everything.
*             @eclipse-orbit/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-orbit/eclipsefdn-security @eclipse-orbit/eclipsefdn-releng
